body {
        padding-left: 20px;
        padding-right: 20px;
        font-family: "Comic Sans MS", sans-serif;
    }
    h1{

        text-align: center;
    }
    span {
        margin-left: 10px;
        margin-right: 10px;
        display: inline;
        border: thick solid #000000;
        display: inline-block;
        width: 31%;
        box-sizing: border-box;
        background-color: gray;
    }
    section{
        margin-top: 100px;
    }
    section div {
        left:0;
        float: right;
        clear: left;
        border:thick solid #000000;
        border-top: 0;
        border-right: 0;
        padding-left: 20px;
        padding-right: 20px;
    }
    #div1 {
        background-color: pink;
    }
    #div2 {
        background-color: red;
    }
    #div3 {
        background-color: sandybrown;
    }
    

    @media(min-width: 992px){
        
    }


    @media(min-width: 768px) and (max-width: 991px) {

        span {
            width: 45%;
            align-content: center;
        }
        
        span:nth-child(3){
            width: 93%;
            margin-top: 10px;
        }

    }

    @media (max-width: 767px) {

        span {
            width: 80%;
        }
        
    }
    
    